/* Write CSS code here */
html{
    background-color: bisque;
}
.boder{
    font-style: italic;
    border-color: black;
    border: 4px solid;
    margin-right:80%;
    padding:8px;
    border-radius:10px;
    margin-left:13%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.678);
}
header{
    text-align: center;
}
#tite{
    background-color: rgba(165, 42, 42, 0.747);
    color: aliceblue;
    padding:15px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius:10px;
    font-family: system-ui;
}
hr{
    margin-left: 25%;
    margin-right: 15%; 
    border-radius:5px;
}
.center{
    text-align: center;
}